.navigation{
 width: 10%;
 height: 50px;
 background-color: lightblue;
}

hi {
  text-align: center;
  font-size: 400%;
}

body{
  background:
  url(https://media.giphy.com/media/JzujPK0id34qI/giphy.gif);
  background-size: contain;
}